header {
    margin-bottom: 100px;
}

main {
    min-height: 300px;
}

h2 {
    text-align : center;
    margin-bottom: 50px;
}

.preview {
    text-align: center;
    height: 300px;
}

.bs-docs-footer {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 100px;
    color: #99979c;
    text-align: center;
    background-color: #2a2730;
    width: 100%
}

footer img {
    margin-bottom: 15px;
}
#copyright {
    margin-top: 50px;
}

.contact {
  text-align: center;
}

.contact img {
  max-width: 75px;
  border-radius: 50%;
}
