.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.navbar-header img {
  max-width: 100px;
}

header {
  margin-bottom: 100px;
}

main {
  min-height: 350px;
}

h2 {
  text-align : center;
  margin: 0px;
}

.glyphicon {
  top:0px;
}

.preview {
  text-align: center;
  height: 300px;
}

.index {
  font-size: 18px;
}

section {
  padding-top: 0;
  background-image: url("../img/classic.jpg");
  background-attachment: fixed;
  background-position: center;
  height: 200px;
  line-height: 0;
}

.bande {
  margin-top: 0;
  padding-top: 0;
  border: solid 1px black;
  background-color: #ffffff;
  height: 200px;
  width: 100%;
  transition: 0.4s;
  border-radius: 0px 5px 5px 0px;
}

.bande:hover {
  background-color: #D8D8D8;
  width: 95%;
}

.blackKey {
  color: white;
  height: 50px;
  float: left;
  background-color: black;
  position: relative;
  top:-25px;
  left : -15px;
  margin: 0;
  padding: 0;
  border-radius: 0px 5px 5px 0px;
  width: 300px;
}

footer {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 100px;
  color: #99979c;
  text-align: center;
  background-color: #2a2730;
}

footer img {
  margin-bottom: 15px;
}
#copyright {
  margin-top: 50px;
}

.contact {
  text-align: center;
  margin-bottom: 75px;
}

.contact img {
  max-width: 75px;
  border-radius: 50%;
}

.error {
  font-size: 40px;
  margin-top : 75px;
}

#collapseRegister {
  margin-top: 20px;
}

ul.bouton-album {
  list-style: none;
  display: inline;
  padding: 5px;
}
